<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CodeCoach</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://codemirror.net/lib/codemirror.css">
    <link rel="stylesheet" href="http://codemirror.net/theme/ambiance.css">
    <script src="http://codemirror.net/lib/codemirror.js"></script>
    <script src="http://codemirror.net/addon/mode/overlay.js"></script>
    <script src="http://codemirror.net/mode/xml/xml.js"></script>
    <script src="http://codemirror.net/mode/markdown/markdown.js"></script>
    <script src="http://codemirror.net/mode/gfm/gfm.js"></script>

    <!-- Code block highlighting modes -->
    <script src="http://codemirror.net/mode/javascript/javascript.js"></script>
    <script src="http://codemirror.net/mode/css/css.js"></script>
    <script src="http://codemirror.net/mode/htmlmixed/htmlmixed.js"></script>
    <script src="http://codemirror.net/mode/clike/clike.js"></script>
    <script src="http://codemirror.net/mode/clojure/clojure.js"></script>
    <script src="http://codemirror.net/mode/ruby/ruby.js"></script>
  </head>
  <body>

    <ul id='nav-bar'>
      <li class='nav-content-left'><a href='/'><img id='logo-header' src='/images/logoV5.png' /></a></li>
      {{#if user}}
      <li class='nav-content-right'><a href='/sessions/destroy'>SIGN OUT</a></li>
      <li class='nav-content-right'><a href='/users/{{user.id}}'>MY PROFILE</a></li>
      {{else}}
      <li class='nav-content-right'><a href='/users/new'>SIGN UP</a></li>
      <li class='nav-content-right'><a href='/sessions/new'>SIGN IN</a></li>
      <li class='nav-content-right'><a href='/auth/github'> GITHUB SIGN IN</a></li>

      {{/if}}
    </ul>

    <div class='flash_msg'>
      {{#if success_msg}}
      {{{success_msg}}}<br>
      {{/if}}
      {{#if error_msg}}
      {{{error_msg}}}<br>
      {{/if}}
      {{#if error}}
      {{{error}}}<br>
      {{/if}}
      {{#if errors}}
        {{#each errors}}
          {{msg}}<br>
        {{/each}}
      {{/if}}
    </div>

      {{{body}}}

  </body>
</html>
