<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Global Code Network</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class='flash_msg'>
      {{#if success_msg}}
      {{{success_msg}}}<br>
      {{/if}}
      {{#if error_msg}}
      {{{error_msg}}}<br>
      {{/if}}
      {{#if error}}
      {{{error}}}<br>
      {{/if}}
      {{#if errors}}
        {{#each errors}}
          {{msg}}<br>
        {{/each}}
      {{/if}}
    </div>
      {{{body}}}
  </body>
</html>
