
<br>
<br>
hello
<br>
<br>
<div id="image">
  {{#if user.image}}
  <img src="/img/{{user.image}}" alt="smiley.gif" style="width:150px;height:150px;">
  {{else}}
  <img src="https://c1.staticflickr.com/5/4031/4452103582_cd9d7193e0.jpg" style="width:150px;height:150px;">
  {{/if}}
</div>
First Name : {{user.firstname}}
<br>
Last Name : {{user.lastname}}
<br>
Email : {{user.email}}
<br>
Username : {{user.username}}
<br>
Short Bio : {{user.bio}}
<br>
<br>
<br>

<a href='/sessions/edit-profile/{{user.id}}'>Edit Profile</a>
