<div id="image">
  {{#if user.image}}
  <img src="/img/{{user.image}}" alt="smiley.gif" style="width:150px;height:150px;">
  {{else}}
  <img src="http://www.soulmarket.net/wp-content/uploads/2015/02/blank-profile.png" style="width:150px;height:150px;">
  {{/if}}
</div>
First Name : {{user.firstname}}
<br>
Last Name : {{user.lastname}}
<br>
Email : {{user.email}}
<br>
Username : {{user.username}}
<br>
City : {{user.city}}
<br>
Short Bio : {{user.bio}}
<br>
Kudos : {{user.kudos}}
<br>
<br>

<a href='/users/{{user.id}}/edit'>Edit Profile</a>

<div id="map"> Map </div>

<script>
function
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 0, lng: 0},
      zoom: 2
    });
  }
</script>

<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCc4yJPEuJFKB9POuUBh6RSvZ4_A11QYa0&callback=initMap">
    </script>
