<br>
<br>
hello
<br>
<br>
Email : {{user.email}}
<br>
Username : {{user.username}}
<br>
Short Bio : {{user.bio}}
<br>
First Name : {{user.firstName}}
<br>
Last Name : {{user.lastName}}
<br>


<a href='sessions/edit-profile'>Edit Profile</a>
