<div class="container">




  <div class="col-sm-12 col-md-12 col-xs-12">


    <div class="col-sm-6 col-md-6 col-xs-12 image-container">
      {{#if user.image}}
        <img class="img-circle" src="/img/{{user.image}}" alt="profile.gif" style="width:200px;height:200px;">
      {{else}}
      {{#if user.avatar}}
        <img class="img-circle" src="{{user.avatar}}" alt="profile.gif" style="width:200px;height:200px;">
      {{else}}
        <img class="img-circle" src="http://www.soulmarket.net/wp-content/uploads/2015/02/blank-profile.png" style="width:200px;height:200px;">
      {{/if}}
      {{/if}}
    </div>

    <div class="col-sm-6 col-md-6 col-xs-12">  
      <h3>{{user.username}}</h3>
       <p style="font-size:10px; color:#03225C;">
        First Name : {{user.firstname}}
        <br>
        Last Name : {{user.lastname}}
        <br>
        Email : {{user.email}}
        <br>
        City : {{user.city}}
        <br>
        Bio : {{user.bio}}
        <br>
        Kudos : {{user.kudos}}
        <br>
        <br>
        <a href='/users/{{user.id}}/edit'>Edit Profile</a>
       </p>
    </div>
  
  </div>

    <div class="col-sm-12 col-md-12 col-xs-12">

 
  <div class="center-block"id="map"> Map </div>

      
    </div>

</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/profile.js"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCc4yJPEuJFKB9POuUBh6RSvZ4_A11QYa0&callback=initMap">
</script>
