<div id="image">
  {{#if user.image}}
    <img src="/img/{{user.image}}" alt="profile.gif" style="width:150px;height:150px;">
  {{else}}
    {{#if user.avatar}}
      <img src="{{user.avatar}}" alt="profile.gif" style="width:150px;height:150px;">
    {{else}}
    <img src="http://www.soulmarket.net/wp-content/uploads/2015/02/blank-profile.png" style="width:150px;height:150px;">
    {{/if}}
  {{/if}}
</div>
First Name : {{user.firstname}}
<br>
Last Name : {{user.lastname}}
<br>
Email : {{user.email}}
<br>
Username : {{user.username}}
<br>
Short Bio : {{user.bio}}
<br>
<br>
<br>

<a href='/users/{{user.id}}/edit'>Edit Profile</a>
